<% if @articles.present? %>
  <% @articles.each do |article| %>
    <%= link_to article.title, article_path(article) %>
  <% end %>
    <%= paginate @articles %>
<% else %>
  <p>投稿がありません</p>
<% end %>
