<div class= "w-5/6 mx-auto max-w-screen-xl">
<%= @article.title %>
<%= @article.body %>

<% if @article.created_by?(current_user)%>
  <%=link_to '編集', edit_article_path(@article)%>
  <%=link_to '削除', article_path(@article), data: { turbo_method: :delete, turbo_confirm: '投稿を削除しますか？' }%>
<% end %>
</div>
