<% content_for :title, page_title("トップ") %>




<a href="https://gyazo.com/6a67dc88abf3ec5788d716a7c4c549cd"><img src="https://i.gyazo.com/6a67dc88abf3ec5788d716a7c4c549cd.gif" alt="Image from Gyazo" width="800"/></a>