<header>
<div class= "w-5/6 mx-auto max-w-screen-xl">
  <div class="absolute top-10 right-10">
  <%= link_to 'マイページ', '#' %>
  <%= link_to "ログアウト", :logout, data: { turbo_method: :delete } %>
</div>
  <div class="absolute top-10 left-10">
    <%= link_to "Miniita", root_path %>
  </div>
</div>
</header>