  <!-- You can open the modal using ID.showModal() method -->
<button class="text-4xl" onclick="my_modal_5.showModal()"><i class="bi bi-phone-vibrate"></i></button>
<dialog id="my_modal_5" class="modal">
  <div class="modal-box mb-5">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg">テンプレート(Webアプリ開発編)</h3>
     <p class="font-bold mb-2"># Webアプリを開発した工程</p>
     <p class="text-sm mb-5">## 企画と設計
     <br>- アプリの概要と目的<br> - 使用した技術スタック

     <p class="text-sm mb-5">## 開発の流れ
     <br>- 開発環境の構築<br>- 実装の詳細とコード例<br>- バグの発見と修正

     <p class="text-sm mb-5">## リリースと振り返り
     <br>- テストとデプロイの手順<br>- ユーザーフィードバックの収集<br>- 今後の改善点や追加機能のアイデア
     </p>
  </div>
</dialog>