<header>
<%= link_to root_path do %>
<%= image_tag "logo.jpeg", class: "card-img-top", width: "200", height:"100 bt-50" %>
<% end %>

<div class= "w-5/6 mx-auto max-w-screen-xl">
  <div class="absolute top-10 right-10">
    <%= link_to "新規登録", new_user_path %> 
    <%= link_to "ログイン", :login %>
  </div>
</div>
</header>