  <!-- You can open the modal using ID.showModal() method -->
<button class="btn" onclick="my_modal_3.showModal()">テンプレート(エラー解決編)</button>
<dialog id="my_modal_3" class="modal">
  <div class="modal-box mb-5">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg">テンプレート(エラー解決編)</h3>
     <p class="font-bold mb-2"># エラー解決した手順</p>
     <p class="text-sm mb-5">## はじめに
     <br>- エラーの概要と発生状況<br> - 使用している環境やツール

     <p class="text-sm mb-5">## エラーの詳細と原因
     <br>- エラーメッセージの解読<br>- エラーが発生したコードの部分<br>- エラーの原因の分析

     <p class="text-sm mb-5">## 解決手順
     <br>- 試行錯誤の過程<br>- 実際の修正内容<br>- 解決後の確認とテスト
     </p>
  </div>
</dialog>