<!-- You can open the modal using ID.showModal() method -->
<button class="text-4xl" onclick="my_modal_1.showModal()"><i class="bi bi-markdown"></i></button>
  <dialog id="my_modal_1" class="modal">
   <div class="modal-box mb-5 bg-white text-gray-600">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
        <h3 class="font-bold text-lg mb-2">マークダウン記法（現在対応済み）</h3>
        <p class="font-bold mb-2 text-left">①見出し語  「# 〇〇」</p>
        <p class="text-sm mb-5 text-left">・「# 例文」で文字が大きくなります。<br>
        ・「# 」のあとは半角空欄を空けてください。<br>
        ・「# 例文」 が一番大きい文字、「###### 例文」 が一番小さい文字になります。</p>

        <p class="font-bold mb-2 text-left">②引用  「> 〇〇」</p>
        <p class="text-sm mb-5 text-left">・「> 例文」で引用できます。</p>

        <p class="font-bold mb-2 text-left">③コードブロック  「``` 〇〇 ```」</p>
        <p class="text-sm mb-5 text-left">・「```例文```」でコードブロックを使用できます。<br>
        ※現在インラインコードを使用すると、エラーが発生します。インラインコードの使用はご遠慮ください。</p>

        <p class="font-bold mb-2 text-left">④URL  「 [〇〇](URL) 」</p>
        <p class="text-sm mb-5 text-left">・「 [例文](https://miniita-trial.onrender.com) 」で引用できます。</p>

        <p class="font-bold mb-2 text-left">⑤打ち消し線  「~~〇〇~~」</p>
        <p class="text-sm mb-5 text-left">・「~~例文~~」で打ち消しできます。</p>

        <p class="font-bold mb-2 text-left">⑥水平線  「***」</p>
        <p class="text-sm mb-5 text-left">・「***」で線を挿入できます。</p>
    </div>
</dialog>