<!-- You can open the modal using ID.showModal() method -->
<button class="text-4xl" onclick="my_modal_2.showModal()"><i class="bi bi-chat-left-heart"></i></button>
<dialog id="my_modal_2" class="modal">
    <div class="modal-box mb-5 bg-white text-gray-600">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="my_modal_2.close()">✕</button>
    <h3 class="font-bold text-lg">Miniita Botで質問</h3>
    <p class="py-4">
      <!----------チャット画面の大枠------------------->
      <div class="flex flex-col items-center justify-center py-6 w-full h-full">
        <div class="max-w-4xl w-full space-y-8 h-full">
          <div id="conversation" class="space-y-4 p-4 rounded overflow-y-auto">
          </div>
          <form id="text_form" class="flex items-center px-2 py-1 border-t border-gray-200 bg-white">
            <input type="text" placeholder="質問内容を入力してください" id="user_input" class="flex-1 px-3 py-2 border rounded border-gray-300 focus:border-blue-500 focus:outline-none focus:ring bg-white text-gray-600">
            <button id="button_post" class="px-4 py-2 bg-green-500 text-white rounded-md transition duration-300 ease-in-out hover:bg-green-600 focus:outline-none focus:ring focus:ring-green-200 ml-2">送信</button>
          </form>
        </div>
      </div>

      <script>
        const button_post = document.getElementById('button_post');
        button_post.addEventListener('click', function(event) {
          event.preventDefault();

          const formText = document.querySelector("#user_input");
          if (formText.value.trim() === "") {
            return;
          }

          const url = "<%= openai_tests_path('json') %>?user_input=" + formText.value;
          const postOptions = {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            method: "GET"
          };

          fetch(url, postOptions)
            .then(response => response.json())
            .then(item => {
              const list = document.getElementById("conversation");

              <!----------ユーザーの質問------------------->
              const inputHTML = `
                <div class="text-right flex items-end justify-end space-x-2">
                  <div class="chat-bubble inline-block bg-blue-100 px-4 py-2 rounded-lg max-w-3/4 break-words text-sky-950">
                    <span>${formText.value}</span>
                  </div>
                </div>`;
              list.insertAdjacentHTML("beforeend", inputHTML);

              <!----------MiniitaBotからの返事------------------->
              const responseHTML = `
                <div class="text-left flex items-start space-x-2">
                  <div class="chat-bubble inline-block bg-gray-100 px-4 py-2 rounded-lg max-w-3/4 break-words text-sky-950">
                    <span>${item.text}</span>
                  </div>
                </div>`;
              list.insertAdjacentHTML("beforeend", responseHTML);
              formText.value = "";
              list.scrollTop = list.scrollHeight;
            })
            .catch(error => console.error('Error:', error));
        });
      </script>
    </p>
  </div>
</dialog>
