  <!-- You can open the modal using ID.showModal() method -->
<button class="text-4xl" onclick="my_modal_4.showModal()"><i class="bi bi-person-workspace"></i></button>
<dialog id="my_modal_4" class="modal">
  <div class="modal-box mb-5">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg mb-2">テンプレート(新しい技術で学んだ編)</h3>
     <p class="font-bold mb-2 text-left"># 新しい技術で学んだこと</p>
     <p class="text-sm mb-5 text-left">## はじめに
     <br>- 学習の背景と目的<br> - 使用した資料やリソース

     <p class="text-sm mb-5 text-left">## 学んだことの応用
     <br>- 実際のプロジェクトへの応用例<br>- 学んだことを使った成果物<br>- 今後の活用方法と展望

     <p class="text-sm mb-5 text-left">## 解決手順
     <br>- 試行錯誤の過程<br>- 実際の修正内容<br>- 解決後の確認とテスト
     </p>
  </div>
</dialog>