  <!-- You can open the modal using ID.showModal() method -->
<button class="text-4xl" onclick="my_modal_6.showModal()"><i class="bi bi-book"></i></button>
<dialog id="my_modal_6" class="modal">
  <div class="modal-box mb-5">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg mb-2">テンプレート(tips編)</h3>
     <p class="font-bold mb-2 text-left"># Tips</p>
     <p class="text-sm mb-5 text-left">## 開発の効率化
     <br>・ よく使うショートカットやコマンド<br>・ 効率的なデバッグ方法<br>・ 作業を自動化するツールやスクリプト

     <p class="text-sm mb-5 text-left">## コーディングのベストプラクティス
     <br>・ 可読性を高めるコーディングスタイル<br>・ よくあるパターンやアンチパターン<br>・ セキュリティ対策

     <p class="text-sm mb-5 text-left">## 学習と成長
     <br>・ 効果的な学習方法<br>・ 参考になる書籍やウェブサイト<br>・ コミュニティや勉強会への参加
     </p>
  </div>
</dialog>