  <!-- You can open the modal using ID.showModal() method -->
<button class="text-4xl" onclick="my_modal_7.showModal()"><i class="bi bi-ui-checks-grid"></i></button>
<dialog id="my_modal_7" class="modal">
  <div class="modal-box mb-5">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg mb-5">各種機能の使い方</h3>
     <p class="font-bold mb-2 text-left text-base">Webアプリを開発した工程</p>
     <p class="font-bold text-left">①マークダウン記法</p>
     <p class="text-sm text-left">
     ・マークダウン記法とは、シンプルなテキストを使って見出しやリスト、リンクなどを簡単に表現できる記法です。<br>
     ・書き方がわからない場合は、<i class="bi bi-markdown text-orange-600 text-base"></i>をクリックし、コードをコピーしてそのまま使ってみましょう！<br></p>

     <p class="font-bold text-left mt-3">②Miniita Bot</p>
     <p class="text-sm text-left">
     ・Miniita Bot<i class="bi bi-chat-left-heart text-orange-600 text-base"></i>は、技術記事を書いている最中の不安を軽減してくれるチャットボットです。<br>
     ・誤字脱字の添削や、理解度の確認などにご利用ください。<br></p>

     <p class="font-bold text-left mt-3">③テンプレート機能</p>
     <p class="text-sm text-left">
     ・技術記事を書く段階にあたって、「どのような構成にするか」という問題は付きものです。<br>
     ・「エラー解消法<i class="bi bi-bug text-orange-600 text-base"></i>」「新技術<i class="bi bi-person-workspace text-orange-600 text-base"></i>」「アプリ開発<i class="bi bi-phone-vibrate text-orange-600 text-base"></i>」「tips集<i class="bi bi-book text-orange-600 text-base"></i>」の4つのテンプレートを用意しているので、書き方のご参考にしてください。<br>
     ・また、マークダウン記法対応しているので、そのままコピーしてお使いいただけます。</p>

  </div>
</dialog>