<% content_for :title, page_title("機能紹介") %>
<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <div class="flex justify-center mt-10 mb-10">
        <%= image_tag "white-logo.jpg", width: "300", height:"300"%>
      </div>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">技術記事をもっと身近に</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">Miniita trialは、技術記事を書きたいけど書いたことがない/他の人から見られることに抵抗を感じている人向けのサイトです。
      MIniita trialならではの機能を活用して、日々のアウトプットにご利用ください。</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-100">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <i class="mr-3 bi bi-book"></i>
              </svg>
            </div>
            テンプレート機能
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">技術記事を書く際、「どのように書けばいいか？」と迷ったことはありませんか？
          Miniita trialでは、ChatGPT-4oが作成した複数のテンプレートを用意しています。</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-100">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <i class="mr-3 bi bi-android2"></i>
              </svg>
            </div>
            Miniita Botによる支援
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">技術記事を書いている途中、「この内容で合っているか？」と不安になりますよね。Miniita trialでは、
          気軽にその場で質問できるMiniita Botを設置しています。</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-100">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
           <i class="mr-3 bi bi-hand-thumbs-up"></i>
              </svg>
            </div>
            複数のいいね機能
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">書き終わったものの、第三者からの反応が気になる...。MIniita trialでは複数のいいねボタンを用意しているので、
          ユーザーからの反応の種類を確認することができ、モチベーション維持にも貢献します。</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-100">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <i class="mr-3 bi bi-gift"></i>
              </svg>
            </div>
            その他
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">今後はコメント機能、下書き保存機能、リマインド機能、バッチ付与機能等を搭載予定です。
          その他、搭載して欲しい機能やご意見等ございましたら、画面下部のお問い合わせフォームよりご連絡ください。</dd>
        </div>
      </dl>
    </div>
  </div>
</div>

